* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M593 103L376 -114' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M109 416L411 718' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1415 287L1257 129' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M992 372L736 116' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M582 256L346 20' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M305 64L160 -81' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1265 234L907 -124' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1037 290L1368 621' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1400 283L1014 -103' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M759 247L960 448' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1306 134L1108 -64' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1384 73L1607 296' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M448 110L724 386' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M703 309L561 167' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M6 369L-366 -3' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M707 330L297 -80' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1062 476L655 69' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1368 32L1098 -238' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1385 397L1176 188' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M145 217L547 619' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M896 553L492 149' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M596 417L355 176' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1151 506L1478 833' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M361 275L54 -32' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1313 292L1705 684' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M633 244L1021 632' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M85 67L461 443' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M160 226L426 492' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M63 7L-292 -348' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M710 560L398 248' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M464 109L807 452' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1019 461L1424 866' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1159 230L1512 583' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1373 57L1113 -203' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M982 202L1296 516' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M230 206L62 38' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M131 485L-19 335' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M434 243L229 38' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1059 558L703 202' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    text-align: center;

}

h1 {
    font-family: 'Playfair Display',serif;
    font-size: 59px;
    color: black;
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    color: #1b1c1e;
}

p,
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
        font-size: 20px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 0;
}

input,
textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #1b1c1e;
}

input,
textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #828282;
}

input[type=submit] {
    background-color: #545557;
    padding: 15px 0;
    color: #1b1c1e;
    font-size: 18px;
    border-bottom: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

input[type=submit]:hover {
    background: #1b1c1e;
    color: #1b1c1e;
}

input,
textarea {
    color: #1b1c1e;
    font-size: 18px;
    padding: 10px;
}

input:focus,
textarea:focus {
    outline: 1px solid #1b1c1e;
}

a {
    color: #1b1c1e;
    font-style: italic;
}

a:hover {
    color: #3c7ef8;
}

