/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3cpath d='M593 103L376 -114' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M109 416L411 718' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1415 287L1257 129' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M992 372L736 116' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M582 256L346 20' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M305 64L160 -81' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1265 234L907 -124' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1037 290L1368 621' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1400 283L1014 -103' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M759 247L960 448' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1306 134L1108 -64' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1384 73L1607 296' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M448 110L724 386' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M703 309L561 167' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M6 369L-366 -3' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M707 330L297 -80' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1062 476L655 69' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1368 32L1098 -238' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1385 397L1176 188' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M145 217L547 619' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M896 553L492 149' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M596 417L355 176' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1151 506L1478 833' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M361 275L54 -32' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1313 292L1705 684' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M633 244L1021 632' stroke-width='8' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M85 67L461 443' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M160 226L426 492' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M63 7L-292 -348' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M710 560L398 248' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M464 109L807 452' stroke-width='10' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1019 461L1424 866' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1159 230L1512 583' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1373 57L1113 -203' stroke-width='6' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M982 202L1296 516' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M230 206L62 38' stroke-width='6' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M131 485L-19 335' stroke-width='8' stroke='url(%23SvgjsLinearGradient1014)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M434 243L229 38' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1059 558L703 202' stroke-width='10' stroke='url(%23SvgjsLinearGradient1013)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(164%2c 95%2c 252%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  padding: 30px;
}

.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .container .cover .front,
 .container .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container .cover::before,
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7d2ae8;
  opacity: 0.5;
  z-index: 12;
}
.container .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.container .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}
